.days {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  margin-bottom: 50px;
  padding-bottom: 100px;
  display: none;
  margin-top: 50px;
  #days__title {
    padding-top: 50px;
  }
  h1 {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }

  .days__container {
    background-color: #fff;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .day__container {
      border: 2px solid #dedede;
      box-shadow: 5px 8px 6px #dedede;
      background-color: #fff;
      border-radius: 5px;
      width: 160px;
      height: 350px;
      padding: 20px;
      margin-left: 10px;

      .day__title {
        h1 {
          padding-top: 10px;
          text-align: center;
          font-family: Helvetica, sans-serif;
          text-transform: capitalize;
          margin: 1px;
        }
        p {
          margin: 0 auto;
          text-align: center;
          font-family: Helvetica, sans-serif;
          color: #7e7e7e;
        }
      }

      .weather__info {
        margin: 0 auto;
        text-align: center;
        img {
        }
        h1 {
          font-family: Helvetica, sans-serif;
          text-align: center;
          font-size: 50px;
          margin: 5px;
          span {
            color: #7e7e7e;
            font-size: 24px;
          }
        }
        h4 {
          font-family: Helvetica, sans-serif;
          text-align: center;
          margin: 5px;
        }
        h5 {
          border-top: 1px solid #7e7e7e;
          font-weight: 400;
          font-family: Helvetica, sans-serif;
          text-align: center;
          margin: 5px;
          font-size: 14px;
          padding-top: 10px;
          color: #000;
        }
      }
      .weather__details {
        padding-top: 20px;
        h4 {
          font-weight: 700;
          font-family: Helvetica, sans-serif;
          text-align: center;
          margin: 5px;
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  .days {
    margin-bottom: 30px;
    margin: 0 auto;

    .days__container {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 30px;
      //max-height: 1900px;
      flex-direction: column;

      .day__container {
        margin: 0 auto;
        padding: 50px;
        max-width: 400px;
        height: 350px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 500px) {
  .days {
    .days__container {
      width: 250px;
      .day__container {
        .day__title {
        }
        .weather__info {
        }
        .weather__details {
        }
      }
    }
  }
}
