body {
  margin: 0 auto;
  .page-container {
    position: relative;
    min-height: 100vh;
  }
  .page-content {
    padding-bottom: 150px;
  }
}

@media (max-width: 1000px) {
  body {
    .page-container {
      min-height: 100vh;
    }
  }
}
